/*

BOX
    largura
    conteudo d caixa

    Espaçamentos
    Preenchimento
    Bordas

    Posicionamentos

*/

body {
    background: #e5e5e5;
    color: #25282B;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body div section header #logo {
    border-radius: 6px;
    box-shadow: 0 12px 15px -15px black;
}

/*Mostrar e esconder o footer*/
.hide {
    display: none;
}

#container {
    width: 90%;
    max-width: 480px;
    margin: 40px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-right: 20px;
}

#botoes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

main {
    margin: 32px 0;
}

button {
    color: darkblue;
    border: 0;
    font-weight: bold;
    background-color: none;
    cursor: pointer;
    outline: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
}

button:hover {
    text-decoration: underline;
}

button.fat{
    color:white;
    background: darkblue;

    width: 100px;
    height: 32px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px darkblue;
}

#botoes, footer {
    text-align: center;
}

footer {
    font-size: 14px;
    font-weight: regular;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777;
}
footer a {
    color: royalblue;
    text-decoration: none;
}

.ideia {
    display: flex;
    margin-bottom: 32px;
    background-color: #FFF;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 12px 15px -15px black;
}

.ideia img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.ideia h3 {
    margin: 0;
}

.ideia p {
    margin: 8px 0;
    color: #777;
}

.ideia .descicao {
    margin: 16px 0;
}

p, #descricao {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}